@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

:root {
    --primary: #e2d848;
    --dark: #13151d;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    // text-rendering: optimizeSpeed;
}

.fw-bold-700 {
    font-weight: 700;
}

.f-family {
    font-family: 'Poppins', sans-serif;
}

.border--primary {
    border: 3px solid var(--primary);
}

.bg--dark {
    background: var(--dark);
}
