.wrapper {
    background-color: #202129;
    height: 290px;

    .detail--account {
        .text--account {
            font-size: 14px;
            font-weight: 200;
        }
    }

    .content {
        white-space: pre-wrap;
    }
}
